{% include 'partials/header.twig' %}

<section class="hero is-danger is-medium is-bold">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-2">
                Download
            </h1>
            <h2 class="subtitle is-4">
                Sorry, this track was not found..
            </h2>
            <button class="button is-warning" onclick="history.go(-1)">
                <span class="icon is-small">
                    <i class="fa fa-arrow-left"></i>
                </span>
                <span>Go back</span>
            </button>
        </div>
    </div>

</section>

{% include 'partials/footer.twig' %}
